body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pictures/covidpic.jpg");
  
  opacity: 0.8;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div{
  color: rgb(255, 255, 255);
}

.box1{
  height: 100vh;
  background-image: url("pictures/what_is_covid_19.png");
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div .correctAnswer{
  background-color: aquamarine;
}

button .selfDiagnosisPicked{
  border-color: aquamarine;
}