body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pictures/covidpic.jpg");
  
  opacity: 0.8;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


div{
  color: rgb(255, 255, 255);
}

.home div{
  text-shadow: 0.2em 0.2em 0.2em rgb(0, 0, 0);
  padding: 5%;
}

.home div li, .home div p{
  font-size: 1.7em;
  font-weight: bolder;
}

div .navbar{
  position: fixed;
  width: 100%;
  font: bold 1.7em Cantarell, sans-serif;
}

div .navbar a{
  text-decoration: none;
}


.box1{
  height: 75vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("pictures/what_is_covid_19.png");
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items:center;
  background-attachment: fixed;
}


.box2{
  height: 75vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("pictures/sneezing-kids-cartoon-boys-girls-characters-coughing-catching-flu-coronavirus-disease-symptoms-prevention-concept-178885765.jpg.png");
  width: 100%;
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
}
.box3{
  height: 75vh;
  background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("pictures/superhero\ punching\ germ.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
  display: flex;
  align-items:center;
}
.box4{
  height: 75vh;
  background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("pictures/covid19\ family\ safety\ new\ bg.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
  display: flex;
  align-items:center;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div .correctAnswer{
  background-color: aquamarine;
  font-weight:bold;
  font-size: 1.2em;
}

div .quiz-option, .interactive-pane button, div .completed-question .quiz-option{
  border-color: aquamarine;
  margin: 0.5%;
  font-weight:bold;
  transition: font-size ease-in-out 0.5s;
  background-color: rgba(249, 255, 253, 0.514);
}

div .quiz-option:hover{
  font-size: 1.2em;
}

div .quiz-question{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.quiz-question h1, div .self-diagnosis-heading{
  text-shadow: 0.05em 0.1em 0.2em rgb(0, 0, 0);
}

div .top-padding{
  height: 5em;
}

div .interactive-pane{
  width: 100%;
  max-width: 1200px;
  margin:auto;
  background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("pictures/Interactive_pane_bg.jpg");
  background-color: rgb(158, 188, 226);
  padding: 3%;
  border-radius: 10%;
  
}


.start-button .btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 350px !important;
  height: 100px;
  font-size: 2.5em;
  border:3px solid rgb(6, 75, 75);
  background-color: rgba(110, 224, 209, 0.377);
  color:rgb(255, 255, 255);
}

.start-button .btn:active{
  background-color: rgba(199, 255, 248, 0.377);

}
.interactive-pane-header{
  margin:auto;
  width: 100%;
  text-align: center;
  text-shadow: 0.2em 0.2em 0.4em rgb(0, 0, 0);
}

.navbar{
  text-decoration: none;
}

.redirectlink{
  text-decoration: none;
}